.tienda{

    &--info{
        display: flex;
        justify-content: center;
        align-items: center;
        background:linear-gradient(to bottom, #93de93,rgb(84, 165, 84));
        height: 100vh;
    }
    &--warning{
      
            font-size: 5rem;
            text-align: center;
            color:white;
            font-weight: 200;
            transition: all .4s;
            animation: float 3s infinite;
    
    }
}
@keyframes float {
	0% {
		text-shadow: 5px 15px 20px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		text-shadow: 25px 15px 20px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		text-shadow: 5px 15px 20px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}